[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pint = "*"
scipy = "*"
onshapepy = "*"
requests = ">=2.20.0"
numpy = "==1.12.1"

[dev-packages]
codecov = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
Sphinx = "*"
sphinx_rtd_theme = "==0.4.0"
aguaclara = {editable = true, path = "."}
pytest-runner = "*"
requests = ">=2.20.0"

[requires]
python_version = "3.5"
