[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# Ensure that this matches setup.py > setup() > install_requires

[packages]
matplotlib = "*"
urllib3 = "*"
pint = "*"
pandas = "*"
scipy = "*"
onshape_client = "*"


[dev-packages]
aguaclara = {editable = true, path = "."}
autopep8 = "*"
codecov = "*"
coverage = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"
atomicwrites = {version = ">=1.0", sys.platform = "win32"} # pytest dependency
colorama = {version = "*", sys.platform = "win32"} # pytest dependency
requests = ">=2.20.0" # Resolves security vulnerability
rope = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
flake8 = "*"
black = "*"

[pipenv]
allow_prereleases = true
