[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# Ensure that this matches setup.py > setup() > install_requires
[packages]
matplotlib = "==3.0.3" # Supports Python 3.5
onshape_client = "*"
pint = "==0.8.1"
pandas = "*"
scipy = "*"

[dev-packages]
aguaclara = {editable = true, path = "."}
autopep8 = "*"
codecov = "*"
coverage = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"
requests = ">=2.20.0"
rope = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"

[requires]
python_version = "3.6"
