name: Build

on: [push, pull_request]

jobs:
  test-python:
    runs-on: ${{ matrix.os }}

    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8, 3.9]
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --dev
        
    - name: Run pytests and generate coverage report
      run: |
        pipenv run pytest --cov=./ --cov-report=xml
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: true
    

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: piotrpawlaczek/python-blacken@release/stable
        with:
          only-check: 'no'
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply black formatting

    # - name: Lint with flake8
    #   run: |
    #     pipenv run flake8 aguaclara --count --verbose --show-source --statistics

  
  test-docs:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --dev
        
    - name: Run doctests and build html files
      run: |
        cd docs
        pipenv run make doctest
        pipenv run make html

    - name: Run html-proofer
      uses: chabad360/htmlproofer@master
      with:
        directory: docs/build/html
        arguments: --allow_hash_href --file_ignore "docs/build/html/search.html"