name: Sphinx Documentation

on:
  push:
    branches:
      - 'master'

jobs:
  sphinx-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.5'

      - name: Install sphinx_rtd_theme
        run: |
          python -m pip install --upgrade pip
          pip install sphinx_rtd_theme

      - name: Build Sphinx documentation
        run: |
          cd docs
          make html
          
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html/
          publish_branch: gh-pages
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'